<h2>注文履歴詳細</h2>
<table>
  <tr>
    <th>購入者</th>

    <th>注文日</th>

    <th>配送先</th>

    <th>支払方法</th>

    <th>注文ステータス</th>

    <!--ここはプルダウンで-->
  <tr>
</table>

<tr>
  <th>商品名</th>
  <th>単価（税込み）</th>
  <th>小計</th>
  <th>製作ステータス</th>
   <!--ここはプルダウンで-->
</tr>


<tr>
  <th>合計金額</th>
  <th>送料</th>
  <th>請求金額合計</th>
</tr>

