<div class="container takasa">
  <div class="row">

    <div class="col-xs-9">
      <h2>ジャンル編集</h2><br>

      <!--何も入力していない時エラーが出るように-->


      <!-- ジャンル用form_forで記載する時削除 -->
       <%= form_for @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <div class="field row">
          <lavel>ジャンル</lavel>
          <%= f.text_field :name %>
          <!-- ラジオボタンの記述 -->

          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
         </div>
      <% end %>
  </div>
</div>
