<footer>
  <div class="container">
    <div class="small text-center text-muted" style="margin: 50px 0;"><i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i>Copyright © 2022  Three Color Runs<i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i><i class="fas fa-poo"></i>
    </div>
  </div>
</footer>